body {
}

.done {
  text-decoration: line-through;
}

.column3 {
  float: left;
  width: 33.33%;
  padding: 5px;
}

.column2 {
  float: left;
  width: 50%;
  padding: 5px;
}

/* Clearfix (clear floats) */
.row::after {
  content: "";
  clear: both;
  display: table;
}

.footer {
  margin: 0px;
  border-top: 1px solid #444;
  position: fixed;
  bottom: 0px;
  width: 100%;
  background: #eee;
}
.footer p {
  font-family: 'Source Code Pro', monospace;
  margin: 10px;
  color: #444;
  font-size: 11px;
}

.center-container {
  position: relative;
  text-align: center;
}

.outline {
  font-family: "Lucida Console", "Lucida Sans Typewriter", monaco, "Bitstream Vera Sans Mono", monospace;
  color: black;
}
.outline-big {
  font-size: 272;
  text-shadow:
    -4px -4px 0 #fff,
    4px -4px 0 #fff,
    -4px 4px 0 #fff,
    4px 4px 0 #fff;
}
.outline-small {
  font-size: 32;
  text-shadow:
    -2px -2px 0 #fff,
    2px -2px 0 #fff,
    -2px 2px 0 #fff,
    2px 2px 0 #fff;
}

.bg {
    /* Full height */
    height: 90%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.hopper
{
position: relative;
}

.hopper-ball
{
right: 0;
bottom: 0;
position: absolute;
}

.center {
  margin: auto;
  width: 100%;
  padding: 10px;
}

.circle:before {
  content: ' \25CF';
  font-size: 100px;
  color: yellow;
  outline: 1px solid white;
  padding: .2em .4em;
}

.column {
  float: left;
  width: 33.33%;
  padding: 10px;
  border: 1px solid black;
  height: 90%;
}
.centered {
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

* {
  box-sizing: border-box;
}

.chroma-key-background {
  background-color: #00FF12;
}

a, a:hover, a:link, a:visited {
  color:inherit;
  text-decoration: none;
 }

.fullscreen-height {
  height: 93.6vh;
}
.navbar {
  margin-bottom: 0;
}
.navbar-fixed-top, .navbar-fixed-bottom {
    position: relative !important;
}

nav {
  text-align: left;
}
nav > ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: inline-block;
  background: #ddd;
  border-radius: 5px;
}
nav > ul > li {
  float: left;
  width: 150px;
  height: 65px;
  line-height: 65px;
  position: relative;
  text-transform: uppercase;
  font-size: 14px;
  color: grey;
  color: rgba(0, 0, 0, 0.7);
  cursor: pointer;
}
nav > ul > li:hover {
  background: #aaa;
  border-radius: 5px;
}

ul.drop-menu {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  padding: 0;
}
ul.drop-menu li {
  background: #666;
  color: grey;
  color: rgba(255, 255, 255, 0.7);
}
ul.drop-menu li:hover {
  background: #555;
}
ul.drop-menu li:last-child {
  border-radius: 0 0 5px 5px;
}

ul.drop-menu li {
  display: none;
}

li:hover > ul.drop-menu li {
  display: block;
}

li:hover > .drop-menu {
  -webkit-perspective: 1000px;
          perspective: 1000px;
}
li:hover > .drop-menu li {
  opacity: 0;
}
li:hover > .drop-menu li:nth-child(1) {
  -webkit-animation-name: dropmenu;
          animation-name: dropmenu;
  -webkit-animation-duration: 300ms;
          animation-duration: 300ms;
  -webkit-animation-delay: 0ms;
          animation-delay: 0ms;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
li:hover > .drop-menu li:nth-child(2) {
  -webkit-animation-name: dropmenu;
          animation-name: dropmenu;
  -webkit-animation-duration: 300ms;
          animation-duration: 300ms;
  -webkit-animation-delay: 100ms;
          animation-delay: 100ms;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
li:hover > .drop-menu li:nth-child(3) {
  -webkit-animation-name: dropmenu;
          animation-name: dropmenu;
  -webkit-animation-duration: 300ms;
          animation-duration: 300ms;
  -webkit-animation-delay: 200ms;
          animation-delay: 200ms;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
li:hover > .drop-menu li:nth-child(4) {
  -webkit-animation-name: dropmenu;
          animation-name: dropmenu;
  -webkit-animation-duration: 300ms;
          animation-duration: 300ms;
  -webkit-animation-delay: 300ms;
          animation-delay: 300ms;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
li:hover > .drop-menu li:nth-child(5) {
  -webkit-animation-name: dropmenu;
          animation-name: dropmenu;
  -webkit-animation-duration: 300ms;
          animation-duration: 300ms;
  -webkit-animation-delay: 400ms;
          animation-delay: 400ms;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
li:hover > .drop-menu li:nth-child(6) {
  -webkit-animation-name: dropmenu;
          animation-name: dropmenu;
  -webkit-animation-duration: 300ms;
          animation-duration: 300ms;
  -webkit-animation-delay: 500ms;
          animation-delay: 500ms;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes dropmenu {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.3) translateY(-60px);
            transform: scale(0.3) translateY(-60px);
  }
  80% {
    -webkit-transform: scale(1.2) translateY(10px);
            transform: scale(1.2) translateY(10px);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1) translateY(0px);
            transform: scale(1) translateY(0px);
  }
}
@keyframes dropmenu {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.3) translateY(-60px);
            transform: scale(0.3) translateY(-60px);
  }
  80% {
    -webkit-transform: scale(1.2) translateY(10px);
            transform: scale(1.2) translateY(10px);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1) translateY(0px);
            transform: scale(1) translateY(0px);
  }
}
